<footer id="footer" class='mt-3'>
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Amazon Reviews</strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="https://nihalmittal.me">Nihal Mittal</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="{{url_for('about')}}" class="scrollto">About</a>
            <a href="{{url_for('home')}}" class="scrollto">Home</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->